.boton {
  background-color: transparent;
  border-color: rgb(58, 50, 175);
  color: rgb(45, 36, 175);
  padding: 8px 20px;
  cursor: pointer;
  position: relative;
  margin-right: 5%;
  margin-left: 5%;
  width: 80%;
}
.boton11 {
  background-color: transparent;
  border-color: rgb(58, 50, 175);
  color: rgb(45, 36, 175);
  padding: 8px 20px;
  cursor: pointer;
  position: relative;
  margin-right: 5%;
  margin-left: 5%;
  width: 80%;
}
.boton11:hover {
  background-color: rgb(58, 50, 175);
  border-color: rgb(58, 50, 175);
  color: rgb(255, 255, 255);
  padding: 8px 20px;
  cursor: pointer;
  position: relative;
  margin-right: 5%;
  margin-left: 5%;
  width: 80%;
}
.Contenedor_botones {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.correo {
  color: rgb(45, 36, 175);
  margin-left: 28%;
}
.contrasenia {
  color: rgb(45, 36, 175);
  margin-left: 28%;
}
.link_registro {
  color: rgb(45, 36, 175);
  position: relative;
  margin-left: 28%;
}
.input_contra {
  position: relative;
  margin-left: 28%;
  width: 200px;
  background-color: rgb(218, 218, 218);
  border-color: black;
  font-family: "PT Sans", sans-serif;
}
.h1 {
  font-family: "PT Sans", sans-serif;
  font-size: 70px;
}
.Textoabajo {
  font-family: "PT Sans", sans-serif;
  font: size 30px;
  width: 100%;
}
.contenedorini {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  margin-left: 10%;
  width: 30%;
}
.boton1 {
  background-color: transparent;
  border-color: rgb(58, 50, 175);
  color: rgb(45, 36, 175);
  border-width: 10px;
  padding: 8px 20px;
  cursor: pointer;
  align-self: center ;
  margin-right: 5%;
  margin-left: 5%;
  width: 30%;
}
.contenedorini1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  margin-left: 10%;
  width: 50%;
}
.ContenedorTODO11{
  display: flex;
  flex-direction: row;
}