.ContenedorTodo {
  display: flex;
  flex-direction: row;
}
.contenedor {
  display: flex;
  flex-direction: column;
}
.contenedorTexto {
  display: flex;
  width: 100%;
}
.containerPsicologos {
  margin-left: 70px;
  margin-right: 10%;
  margin-top: 60px;
}

.Texto {
  color: #0d00c2;
  font-family: "PT Sans", sans-serif;
  align-self: center;
}
.InputBuscador:hover {
  border-color: #0d00c2;
  border-width: 3px;
}
.ContenedorSidebar {
  width: 20%;
}
