.contenedor-botones {
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  .boton-registro {
    margin-top: 32px;
  }
  
  .boton-registro .btn {
    margin: 6px;
  }

  
  