.ContenedorTodo{
    display: flex;
    flex-direction: row;
}
.contenedor{
    display: flex;
    flex-direction: column;
}
.contenedorTexto{
    display: flex;
    width: 100%;

}
.Texto{
    color: #0d00c2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-self: center;
}
.InputBuscador:hover{
    border-color: #0d00c2;
    border-width: 3px;
}
.ContenedorSidebar{
    width: 20%;
}