.div{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
}
.h1{
    text-align: center;
    text-decoration:underline;
    font-family: 'PT Sans', sans-serif;
}

.p{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    text-indent: 2%;
    text-align: justify;
    font-family: 'PT Sans', sans-serif;
}

.h3{
    display: flex;
    margin-left: 10%;
    margin-right: 20%;
    text-decoration: underline;
    font-family: 'PT Sans', sans-serif;
}

.social-icon-link1 {
    color: rgb(0, 0, 0);
    font-size: 24px;
    display: flex;
    flex-direction:column;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
    font-family: 'PT Sans', sans-serif;
  }

.TextArea{
    display: flex;
    width: 30%;
    height: 200px;
    align-self: center;
    font-family: 'PT Sans', sans-serif;
}

.btn-formulario{
    border: 2px solid rgb(255, 255, 255); 
    padding: 10px 40px; 
    display: inline-block; 
    align-self: center;
    text-decoration: none; 
    color: #fff;
    cursor: pointer;
    background-color:#0d00c2;
    width: 30%;
    font-family: 'PT Sans', sans-serif;
  }
.btn-formulario:hover{
    color:#0d00c2;
    cursor: pointer;
    background-color: #fff;
    font-family: 'PT Sans', sans-serif;
}
.div{
    box-shadow:0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
}