.notesContainer {
	background: linear-gradient(90deg, rgb(45, 36, 175) 0%, rgb(26, 23, 23) 120%);
	color: #fff;
	text-align: center;
}

* {
	padding: 0;
	margin: 0;
}

.notesHeader, .notesBody, .notesFooter {
    background: linear-gradient(90deg, rgb(45, 36, 175) 0%, rgb(26, 23, 23) 120%);
	padding: 20px;
	margin: 0;
}

.notesHeader {
	font-family: 'Lobster', cursive;
}

.notesBody {
	margin-top: 20px;
}


.notesFooter {
	bottom: 0;
	position: fixed;
	left: 0;
	width: 100%;
}