.boton_feed{
	background-color: transparent;
	border-color: rgb(58, 50, 175);
	color: rgb(45, 36, 175);
	padding: 8px 20px;
	cursor: pointer;
	margin-top: 1%;
	margin-right: 5%;
	margin-left: 5%;
	width: 100%;

	
  }
.textotestimo1{
	font-family: 'PT Sans', sans-serif;
  }
.boton_feed:hover {
	background-color: rgb(58, 50, 175);
	border-color: rgb(58, 50, 175);
	color: rgb(255, 255, 255);
  }
.input-texto1{
	display: flex;
	flex-direction: column;
	display:grid;
	height: 30px;
	padding: 10px;
	border: 1px solid gray;
	border-radius: 5px;
	margin-left: 5%;
	width: 100%;
	margin-top: 2%;
  }

.formTestimonio1{
	display: flex;
    flex-direction: column;
    position: absolute;
  }
.textotestimo1{
	font-size:xx-large;
}
.contenedorTesti1{
    display: flex;
    flex-direction: column;
    
}