.boton_feed{
	background-color: transparent;
	border-color: rgb(58, 50, 175);
	color: rgb(45, 36, 175);
	padding: 8px 20px;
	cursor: pointer;
	position: relative;
	margin-top: 1%;
	margin-right: 5%;
	margin-left: 10%;
	width: 10%;
  }
  .boton_feed:hover {
	background-color: rgb(58, 50, 175);
	border-color: rgb(58, 50, 175);
	color: rgb(255, 255, 255);
	padding: 8px 20px;
	cursor: pointer;
	position: relative;
	margin-top: 1%;
	margin-right: 5%;
	margin-left: 10%;
	width: 10%;
  }
  .input-texto{
	display:grid;
	height: 30px;
	padding: 10px;
	border: 1px solid gray;
	border-radius: 5px;
	margin-left: 5%;
	width: 25%;
  }
  .Testimonio{
	margin-top: 2%;
	display: flex;
    flex-direction: column;
    position: absolute;
	color: rgb(58, 50, 175);
	font-family: 'PT Sans', sans-serif;
	font-size: larger;
	margin-left: 3%;
  }
  .formTestimonio{
	display: flex;
    flex-direction: row;
    position: absolute;
  }
.textotestimo{
	font-size:xx-large;
}